# Raw and processed data
data/**/*.csv
data/**/*.parquet
data/raw/*
data/processed/*
data/parquet/*

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/parquet/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
.env

# Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/